<div id="sect1">
    <div class="content" >
     <div class="text">Login</div>
      <form action="#">
        <div class="field">
          <span class="fa fa-user"></span>
          <input type="text" placeholder="Email Id" required>
       
        </div>
        <div class="field">
          <span class="fa fa-lock"></span>
          <input type="password" placeholder="Password">
        </div>
        <button routerLink="/home" >Log in</button>
        <div class="or">Or</div>
        <div class="icon-button">  
          <span class="facebook"><i class="fa fa-facebook"></i>  Facebook</span>
          <span><i class="fa fa-google"></i>  Google</span>
        </div>
      </form>
      </div>
    </div>
    <div class="container"><img class="air-logo" src="assets\images/logo.png" alt="">
    </div>
    <img class="background-image " src="\assets\images\login-bg.jpg" alt="">