.nav-logo{
    height: 40px;
}
.from{
    font-size: 24px;
    margin-left: 80px;
}
.from-city{
    margin-top: 10px;
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(173, 173, 173);
}
.to{
    font-size: 24px;
    padding-left: 20px;
}
.date{
    font-size: 24px;
    padding-left: 20px;
}
.date-input{
    margin-right: 20px;
}
